
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="container">
        <div class="col-sm-6">
            <h3>Employee Login</h3>
                
        </div>
    </div>
</div>
